@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.mapbox{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  border-style: solid;
  border-radius: 10px;
  border-color: #E88D01;
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px;
  .descriptionmap{
    margin-left: 50px;
    margin-top: 25px;
    color:#0e0f3f;
    font-family: 'Poppins', sans-serif;
  }
}
