<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Café Anna - 26 quai Lunel, 06300 Nice</p>
    <p>&copy;2023 chepmo | This website was made with <i class="fas fa-heart"></i> in Nice</p>
  </div>
</div>
