	<nav class="navbar navbar-expand-md">
        <div class="container">
          <a class="navbar-brand d-md-none d-xs-block py-3" href="#">
            <img src="https://res.cloudinary.com/dwvsbgwap/image/upload/v1678153129/color1-white_logo_transparent_background_etkxff.png" height="300" alt="Café Anna">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link mx-2" aria-current="page" href="/">Page d'accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="#">Découvrez notre menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="/noustrouver">Où nous trouver</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="/apropos">A propos du Café Anna</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="text-center p-3 d-none d-md-block">
        <img src="https://res.cloudinary.com/dwvsbgwap/image/upload/v1678153129/color1-white_logo_transparent_background_etkxff.png" height="225" alt="Café Anna">
      </div>
