<%# Accroche descriptive %>

<div class=accroche>
  <section>
    <div class="content">
      <h2>Café · brunch · lunch</h2>
      <h2>Café · brunch · lunch</h2>
    </div>
  </section>
</div>

<%# Ouverture jours et horaires span %>

<div class=hours>
  <div class="waviy">
    <span style="--i:1">d</span>
    <span style="--i:2">u</span>
    <span style="--i:3"><br></span>
    <span style="--i:4">M</span>
    <span style="--i:5">E</span>
    <span style="--i:6">R</span>
    <span style="--i:7">C</span>
    <span style="--i:8">R</span>
    <span style="--i:9">E</span>
    <span style="--i:10">D</span>
    <span style="--i:11">I</span>
    <span style="--i:12"><br></span>
    <span style="--i:13">a</span>
    <span style="--i:14">u</span>
    <span style="--i:15"><br></span>
    <span style="--i:16">D</span>
    <span style="--i:17">I</span>
    <span style="--i:18">M</span>
    <span style="--i:19">A</span>
    <span style="--i:20">N</span>
    <span style="--i:21">C</span>
    <span style="--i:22">H</span>
    <span style="--i:23">E</span>
    <span style="--i:24"><br></span>
    <span style="--i:25">·</span>
    <span style="--i:26">9</span>
    <span style="--i:27">H</span>
    <span style="--i:28">-</span>
    <span style="--i:29">1</span>
    <span style="--i:30">8</span>
    <span style="--i:31">H</span>
  </div>
</div>

<%# Descriptif et btn %>

<div class=venez>
  <h3>Envie d'un brunch au soleil sur le port de Nice? <br> Un lunch en terrasse entre amis?</h3>
  <a class="btn btn-flat" href="#">Notre menu ☕</a>
</div>
