<!-- Mapbox et description -->
<div class=mapbox>
  <div style="width: 450px; height: 250px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class=descriptionmap>
      <h1>CAFE ANNA</h1>
      <h3>26 quai Lunel, 06300 Nice</h3>
      <h4>Tel 09.82.67.88.64 · sans réservations</h4>
      <h4>cafeannanice@yahoo.fr</h4>
      <h5>Parking du port · Terminus du tramway ligne 2 </h5>
  </div>
</div>
