<!-- Mapbox et description -->
<div class=mapbox>
  <div style="width: 600px; height: 300px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class=descriptionmap>
      <h1>CAFE ANNA</h1>
      <h3>26 quai Lunel, 06300 Nice</h3>
      <h4>Tel 04.00.00.00.00</h4>
      <h4>cafeannanice@yahoo.fr</h4>
      <h5>Pour venir : parking voiture du port, terminus du tramway ligne 2 </h5>
  </div>
</div>
