.footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  background: #0e0f3f;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: white;
  // pour avoir le footer au dessus du contenu
  z-index: 9999;
}

.footer-copyright{
  font-size: small;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #E88D01;
}
.footer .fa-heart {
  color: #E88D01;
}
